.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
:root {
  --primary-color: blue;
  --text-color: black;
  --secondary-text-color: rgb(151, 147, 147);
}
.header-logos {
  text-decoration: none;
  font-size: 26px;
}
.hero-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.header-list {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}


header {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
.block-logos + .header-link {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}
.name-logos {
  text-decoration: none;
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

span {
  text-decoration: none;
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
b { 
  text-decoration: none;
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.hero-title-button {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  background-color: #2F303A;;
}
.hero-button:hover {
  background-color: #2196F3;
}
.hero-button:hover {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.block-title-button {
  text-decoration: none;
  background-color: #2F303A;
  width: 1450px;
  height: 200px;
  flex-shrink: 0;
}
.footer {
  text-decoration: none;
  background-color: #2F303A;
  color: white;
}

.page-advantages-description {
  text-decoration: none;
  color: white;
  font-size: 14px;
  height: 15px;
  
}

a + .footer-info-email {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

a + .footer-info + .header-info  {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.block-body:hover {
  color: black;
}
.header-list {
  color: black;
}
nav {
  text-decoration: none;
}

.page-hero-container {
  text-align: center;
}
.advantages-title-h2 {
  text-align: center;
  margin-bottom: 50px;
}

.page-hero-list-text {
  display: flex;
  justify-content: space-evenly;
}
.logos-two {
  text-decoration: none;
  font-size: 26px;
}
.footer-info {
  text-decoration: none;
  color: white;
}
.footer-block {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
footer>a {
  color: rgba(255, 255, 255, 0.60);
}
main {
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}
h1,
h2,
h4,
h5 {
  color: var(--text-color);
}
p {
  text-decoration: none;
  color: var(--secondary-text-color);
  color: black;
}
section {
  text-decoration: none;
  margin-bottom: 20px;
}
img {
  max-width: 100%;
  background: #F5F4FA;
}
/*
font-family: 'Roboto', sans-serif;
*/
